<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Benchmark</title>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <style>
    #container0, #container1 {
      min-width: 310px;
      max-width: 800px;
      height: 600px;
      margin: 0 auto
    }
  </style>
</head>
<body>
  

    <div id="container0"></div>

  <script>

    const data = { /** DATA **/ }

    const series = data
    const container  = document.getElementById('container0');

    const layout = {
      xaxis: {
        title: "Time",
        zeroline: false,
        dtick: 1
      },
      yaxis: {
        title: 'Objective',
        zeroline: false,
        dtick: 0.1
      }
    }

    Plotly.plot(container, series.map(serie => ({
      name: serie.name,
      x: serie.x.map(i => i / 10),
      y: serie.y,
      mode: 'lines',
      line: {shape: 'hv'},
    })), layout)
  </script>
</body>
</html>
