**/*.aux
**/*.log
**/*.synctex.gz
**/*.fls
**/*.fdb_latexmk

**/*.idea

thesis/**/*.pdf
code/**/**/target
code/village1/results
code/village1/data/results
code/village1/data/instances/generated

notes

