**/*.aux
**/*.log
**/*.synctex.gz
**/*.fls
**/*.fdb_latexmk
thesis/**/*.toc
thesis/**/*.bbl
thesis/**/*.blg
thesis/**/*.out
thesis/.spellignore

**/*.idea

code/**/**/target
code/village1/results
code/village1/data/results
code/village1/data/benchmark/*
!code/village1/data/benchmark/html
code/village1/data/instances/generated
code/village1/data/remote
code/village1/**/lib
code/benchmark-charts/result*
notes

